.from-box{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.box-control{
    font-size: 16px;
    outline: none;
    color: #616161;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid transparent;
    background: #fbf1f1;
    float: left;
    width: 100%;
    padding: 14.5px 50px 14.5px 25px;
    border-radius: 3px;

}
.registration-bg{
    padding: 30px 25px;
    background: #fbf1f1;
}
.bg-form{
    text-align: center;
    padding: 60px 60px;
    background: #fff;
    border-radius: 5px;
}
.form-box-icon{
    position: absolute;
    top: 16px;
    right: 17px;
    font-size: 20px;
    color: #616161;
}
.form-control{
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
}
.sign-up-btn{
    background: #f78c30;
    padding: 0px 28px;
    line-height: 47px;
    border-radius: 50px;
    color: white;
}
.sign-up-btn:hover{
    color: white;
}
.switch-section{
    top: 20px;
    position: absolute;
    right: 20px;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    border-radius: 50px;
}
.btn-1{
    line-height: 40px;
    text-align: center;
    width: 110px;
    border-radius: 50px 0 0 50px;
    background-color: white;
    font-size: 14px;
    float: left;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #f78c30;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-2{
    background: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    width: 110px;
    font-size: 14px;
    float: left;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #f78c30;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
}
.btn-2:hover{
    color: #f78c30;
}
.btn-1:hover{
    color: #f78c30;
}
.welcome-msg{
    background: rgba(0, 0, 0, 0.04) url(../../images/carbg.png) top left repeat;
    /* background-size: cover; */
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.welcome-msg::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(36 10 99 / 94%);
}
.info{
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 40px;
    border: solid 5px #fff;
    text-align: center;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.9s;
    border-radius: 4px;
    z-index: 1;
}

.info h1{
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.info p{
    margin-bottom: 0;
    color: #fff;
    line-height: 28px;
    opacity: 0.9;
    transition: all 0.5s;
}
.hover-effect:hover .info{
    background-color: white;
}
.hover-effect:hover .info h1{
    color: #f78c30;
}
.hover-effect:hover .info p{
    color: #535353;
}

